.CounterOutput {
  display: flex;
  align-content: center;
  width: 100%;
  background-color: #ff6c4c;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  box-sizing: border-box;
  height: 50vh;
}
.container {
  margin: auto;
}
label {
  font-size: 48px;
  font-weight: 400;
  opacity: 0.5;
}
h1 {
  margin: 0;
  margin-top: 2rem;
  font-size: 10rem;
  font-weight: 400;
}
